* {
  color: #33272a;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background: #faeee7;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 7em;
  color: #33272a;
  text-align: center;
}

.add_button {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  background: #c3f0ca;
  padding: 35px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  border: #33272a 3px solid;
  margin-bottom: 100px;
}

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

table {
  width: 50%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead th {
  font-weight: bold;
}

td,
th {
  padding: 20px;
  text-align: left;
  border: 3px solid #000;
  width: 100px;
  background: linear-gradient(
    135deg,
    rgbe(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}

tbody tr:hover {
  background-color: #e6e6e6;
}

.table-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
